body{
    padding: 100px;
    background-color: #f3f5fa;
}

.submit-area{
    margin: 50px auto ;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    width: 500px;
    max-width: 100%;
}
#transaction-area{
    display: none;
}
.col-md-4{
    margin-bottom: 30px;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: #2342f3;
}
.balance{
    background-color: orange;
}
